body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  color: #333;
  margin: 0;
  padding-top: 70px;
}

.disease-section {
  padding: 100px 0;
  background: rgba(255, 255, 255, 0.884);
  backdrop-filter: blur(10px);
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.disease-section:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); */
}

/* Navbar */
.navbar {
  background: rgba(165, 214, 167, 0.82) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #ffdd57 !important;
  cursor: pointer;
}

/* Buttons */
.btn-primary {
  background: linear-gradient(135deg, #66bb6a, #84d186);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  /*transform: translateY(-5px);*/
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* Headings */
h1, h2, h3 {
  color: #2e7d32;
}

p {
  color: #333;
  line-height: 1.8;
}

